:root{
  /* back colors */
  --card-back-color: #151515;
  --elem-back-color: #21242a;
  --elem-back-hover-color:#2d2f33;
  /* text colors */
  --main-font-color: #ffffff;
  --secondary-font-color: #8b8f97;
  --elem-hover-font-color: #a8ffb4;
  --accent-font-color: #00ff24;
  /* границы */
  --main-border: 1px solid #2a2d33;
  --hover-border: 1px solid #00ff2440;
}