name: Deploy to GitHub Pages

on:
  push:
    branches: [ "main" ] # Запускается при пуше в ветку main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install dependencies and deploy
        run: |
          cd vue-app
          npm install 
          npm run deploy
